<?xml version="1.0" encoding="UTF-8"?>
<config>

    <modules>
        <Doofinder_Feed>
            <version>1.8.7</version>
        </Doofinder_Feed>
    </modules>
    <global>
        <helpers>
            <doofinder_feed>
                <class>Doofinder_Feed_Helper</class>
            </doofinder_feed>
            <tax>
                <rewrite>
                    <data>Doofinder_Feed_Helper_Tax</data>
                </rewrite>
            </tax>
        </helpers>
        <models>
            <doofinder_feed>
                <class>Doofinder_Feed_Model</class>
                <resourceModel>doofinder_feed_mysql4</resourceModel>
            </doofinder_feed>
            <doofinder_feed_mysql4>
                <class>Doofinder_Feed_Model_Mysql4</class>
                <entities>
                    <cron>
                        <table>doofinder_feed</table>
                    </cron>
                    <log>
                        <table>doofinder_log</table>
                    </log>
                </entities>
            </doofinder_feed_mysql4>
            <catalogsearch_resource>
                <rewrite>
                    <fulltext>Doofinder_Feed_Model_CatalogSearch_Resource_Fulltext</fulltext>
                </rewrite>
            </catalogsearch_resource>
        </models>
        <resources>
            <doofinder_feed_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </doofinder_feed_write>
            <doofinder_feed_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </doofinder_feed_read>
            <doofinder_feed_setup>
                <setup>
                    <module>Doofinder_Feed</module>
                    <class>Doofinder_Feed_Model_Resource_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </doofinder_feed_setup>
        </resources>
        <blocks>
            <doofinder_feed>
                <class>Doofinder_Feed_Block</class>
            </doofinder_feed>
        </blocks>
        <events>
            <admin_system_config_changed_section_doofinder_cron>
                <observers>
                    <doofinder_feed>
                        <type>singleton</type>
                        <class>doofinder_feed/observers_schedule</class>
                        <method>saveNewSchedule</method>
                    </doofinder_feed>
                </observers>
            </admin_system_config_changed_section_doofinder_cron>
            <catalog_product_save_after>
                <observers>
                    <doofinder_feed>
                        <class>doofinder_feed/observers_feed</class>
                        <method>updateSearchEngineIndexes</method>
                    </doofinder_feed>
                </observers>
            </catalog_product_save_after>
        </events>
    </global>

    <adminhtml>
        <layout>
            <updates>
                <doofinder_feed>
                    <file>doofinder.xml</file>
                </doofinder_feed>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <doofinder_cron>
                                            <title>Cron Options</title>
                                        </doofinder_cron>
                                        <doofinder_search>
                                            <title>Search Options</title>
                                        </doofinder_search>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <install></install>

    <frontend>
        <layout>
            <updates>
                <doofinder_feed>
                    <file>doofinder.xml</file>
                </doofinder_feed>
            </updates>
        </layout>
        <routers>
            <doofinder_feed>
                <use>standard</use>
                <args>
                    <module>Doofinder_Feed</module>
                    <frontName>doofinder</frontName>
                </args>
            </doofinder_feed>
        </routers>
    </frontend>

    <default>
        <doofinder>
            <feed>

                <enabled>0</enabled>
                <debug>1</debug>

                <group_configurable_products>1</group_configurable_products>

                <product_types><![CDATA[simple,virtual,bundle,configurable,downloadable,grouped]]></product_types>
                <!--product_types><![CDATA[bundle]]></product_types-->
                <excluded_attributes><![CDATA[gallery,image,small_image,special_price,special_from_date,special_to_date,price_view,url_key]]></excluded_attributes>
                <additional_attributes><![CDATA[status]]></additional_attributes>

                <directives>
                    <df_directive_id>
                        <label><![CDATA[Product Id]]></label>
                    </df_directive_id>
                    <df_directive_url>
                        <label><![CDATA[Product URL]]></label>
                    </df_directive_url>
                    <df_directive_image_link>
                        <label><![CDATA[Product Image URL (Base)]]></label>
                    </df_directive_image_link>
                    <df_directive_image_link_thumbnail>
                        <label><![CDATA[Product Image URL (Thumbnail)]]></label>
                    </df_directive_image_link_thumbnail>
                    <df_directive_image_link_small>
                        <label><![CDATA[Product Image URL (Small Image)]]></label>
                    </df_directive_image_link_small>
                    <df_directive_sale_price>
                        <label><![CDATA[Sale Price]]></label>
                    </df_directive_sale_price>
                    <df_directive_price>
                        <label><![CDATA[Price]]></label>
                    </df_directive_price>
                    <df_directive_currency>
                        <label><![CDATA[Store Currency]]></label>
                    </df_directive_currency>
                    <df_directive_availability>
                        <label><![CDATA[Availability]]></label>
                    </df_directive_availability>
                    <df_directive_condition>
                        <label><![CDATA[Product Condition]]></label>
                    </df_directive_condition>
                </directives>

                <fields>
                    <id>
                        <label>Unique Identifier</label>
                    </id>
                    <mpn>
                        <label>Product SKU</label>
                    </mpn>
                    <title>
                        <label>Title</label>
                    </title>
                    <description>
                        <label>Description</label>
                    </description>
                    <long_description>
                        <label>Long Description</label>
                    </long_description>
                    <meta_title>
                        <label>Meta Title</label>
                    </meta_title>
                    <meta_keyword>
                        <label>Meta Keywords</label>
                    </meta_keyword>
                    <meta_description>
                        <label>Meta Description</label>
                    </meta_description>
                    <brand>
                        <label>Brand</label>
                    </brand>
                    <link>
                        <label>Product Link</label>
                    </link>
                    <image_link>
                        <label>Image</label>
                    </image_link>
                    <price>
                        <label>Normal Price</label>
                    </price>
                    <sale_price>
                        <label>Sale Price</label>
                    </sale_price>
                    <availability>
                        <label>Availability</label>
                    </availability>
                    <currency>
                        <label>Currency</label>
                    </currency>
                </fields>

            </feed>
        </doofinder>
        <doofinder_cron>
            <schedule_settings>
                <enabled>1</enabled>
                <name>doofinder-{store_code}.xml</name>
                <time>0,0,0</time>
                <frequency>D</frequency>
                <delay>5</delay>
                <step>1000</step>
                <reset>0</reset>
            </schedule_settings>
            <feed_settings>
                <password></password>
                <display_price>1</display_price>
                <grouped>0</grouped>
                <image_size></image_size>
                <atomic_updates_enabled>0</atomic_updates_enabled>
                <categories_in_navigation>0</categories_in_navigation>
                <price_tax_mode>0</price_tax_mode>
            </feed_settings>
            <attributes_mapping>
                <id>df_directive_id</id>
                <mpn>sku</mpn>
                <title>name</title>
                <description>short_description</description>
                <brand>manufacturer</brand>
                <link>df_directive_url</link>
                <image_link>df_directive_image_link</image_link>
                <price>df_directive_price</price>
                <sale_price>df_directive_sale_price</sale_price>
                <availability>df_directive_availability</availability>
                <currency>df_directive_currency</currency>
                <!--long_description>description</long_description>
                <meta_title>meta_title</meta_title>
                <meta_keyword>meta_keyword</meta_keyword>
                <meta_description>meta_description</meta_description-->
            </attributes_mapping>
        </doofinder_cron>
        <doofinder_search>
            <layer_settings>
                <enabled>0</enabled>
            </layer_settings>

            <internal_settings>
                <request_limit>100</request_limit>
                <total_limit>500</total_limit>
            </internal_settings>
        </doofinder_search>
    </default>

    <stores></stores>

    <websites></websites>

    <crontab>
        <jobs>
            <doofinder_feed_generate>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>doofinder_feed/observers_feed::generateFeed</model>
                </run>
            </doofinder_feed_generate>
            <doofinder_feed_schedule>
                <schedule>
                    <cron_expr>1 */12 * * *</cron_expr>
                </schedule>
                <run>
                    <model>doofinder_feed/observers_schedule::regenerateSchedule</model>
                </run>
            </doofinder_feed_schedule>
            <doofinder_feed_clear_logs>
                <schedule>
                    <cron_expr>30 2 * * *</cron_expr>
                </schedule>
                <run>
                    <model>doofinder_feed/observers_logs::clearLogs</model>
                </run>
            </doofinder_feed_clear_logs>
        </jobs>
    </crontab>

    <phpunit>
        <suite>
            <modules>
                <Doofinder_Feed />
            </modules>
            <groups>
                <controller>Controller</controller>
            </groups>
        </suite>
    </phpunit>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Doofinder_Feed after="Mage_Adminhtml">Doofinder_Feed</Doofinder_Feed>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

</config>
