<config>
    <tabs>
        <doofinder_config translate="label" module="doofinder_feed">
            <label>Doofinder Search</label>
            <sort_order>99999</sort_order>
        </doofinder_config>
    </tabs>
    <sections>
        <doofinder_cron translate="label" module="doofinder_feed">
            <label>Product Data Feed</label>
            <tab>doofinder_config</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <feed_settings translate="label">
                    <label>Feed Settings</label>
                    <expanded>true</expanded>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <instruction>
                            <frontend_model>doofinder_feed/settings_panel_description</frontend_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </instruction>
                        <instruction>
                            <frontend_model>doofinder_feed/settings_panel_description</frontend_model>
                            <sort_order>0</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </instruction>
                        <display_price translate="label">
                            <label>Display Price</label>
                            <frontend_type>select</frontend_type>
                            <comment>Show/hide the price in the feed</comment>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </display_price>
                        <grouped translate="label">
                            <label>Export Grouped Products as Simple</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </grouped>
                    </fields>
                </feed_settings>

                <attributes_mapping translate="label">
                    <label>Attributes Mapping</label>
                    <expanded>false</expanded>
                    <frontend_type>text</frontend_type>
                    <sort_order>15</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <id translate="label">
                            <label>ID</label>
                            <frontend_type>select</frontend_type>
                            <source_model>doofinder_feed/system_config_source_product_attributes</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </id>
                        <mpn translate="label">
                            <label>MPN</label>
                            <frontend_type>select</frontend_type>
                            <source_model>doofinder_feed/system_config_source_product_attributes</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </mpn>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>select</frontend_type>
                            <source_model>doofinder_feed/system_config_source_product_attributes</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <description translate="label">
                            <label>Description</label>
                            <frontend_type>select</frontend_type>
                            <source_model>doofinder_feed/system_config_source_product_attributes</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </description>
                        <long_description translate="label">
                            <label>Long Description</label>
                            <frontend_type>select</frontend_type>
                            <source_model>doofinder_feed/system_config_source_product_attributes</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </long_description>
                        <meta_title translate="label">
                            <label>Meta Title</label>
                            <frontend_type>select</frontend_type>
                            <source_model>doofinder_feed/system_config_source_product_attributes</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </meta_title>
                        <meta_keyword translate="label">
                            <label>Meta Keyword</label>
                            <frontend_type>select</frontend_type>
                            <source_model>doofinder_feed/system_config_source_product_attributes</source_model>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </meta_keyword>
                        <meta_description translate="label">
                            <label>Meta Description</label>
                            <frontend_type>select</frontend_type>
                            <source_model>doofinder_feed/system_config_source_product_attributes</source_model>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </meta_description>
                        <brand translate="label">
                            <label>Brand</label>
                            <frontend_type>select</frontend_type>
                            <source_model>doofinder_feed/system_config_source_product_attributes</source_model>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </brand>
                        <link translate="label">
                            <label>Link</label>
                            <frontend_type>select</frontend_type>
                            <source_model>doofinder_feed/system_config_source_product_attributes</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </link>
                        <image_link translate="label">
                            <label>Image Link</label>
                            <frontend_type>select</frontend_type>
                            <source_model>doofinder_feed/system_config_source_product_attributes</source_model>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </image_link>
                        <price translate="label">
                            <label>Price</label>
                            <frontend_type>select</frontend_type>
                            <source_model>doofinder_feed/system_config_source_product_attributes</source_model>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </price>
                        <sale_price translate="label">
                            <label>Sale price</label>
                            <frontend_type>select</frontend_type>
                            <source_model>doofinder_feed/system_config_source_product_attributes</source_model>
                            <sort_order>13</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sale_price>
                        <availability translate="label">
                            <label>Availability</label>
                            <frontend_type>select</frontend_type>
                            <source_model>doofinder_feed/system_config_source_product_attributes</source_model>
                            <sort_order>14</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </availability>
                        <currency translate="label">
                            <label>Currency</label>
                            <frontend_type>select</frontend_type>
                            <source_model>doofinder_feed/system_config_source_product_attributes</source_model>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </currency>
                        <additional translate="label">
                            <label>Additional</label>
                            <frontend_model>doofinder_feed/adminhtml_map_additional</frontend_model>
                            <backend_model>doofinder_feed/system_config_backend_map_additional</backend_model>
                            <sort_order>16</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </additional>
                    </fields>
                </attributes_mapping>

                <schedule_settings translate="label">
                    <label>Schedule Settings</label>
                    <expanded>false</expanded>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled>
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <comment>Activate/deactivate the feed for this store</comment>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <time translate="label">
                            <label>Start Time</label>
                            <frontend_type>time</frontend_type>
                            <comment>Feed generation start date</comment>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </time>
                        <frequency translate="label">
                            <label>Frequency</label>
                            <frontend_type>select</frontend_type>
                            <comment>Feed generating frequency (e.g. "monthly" means that the feed will be generated on the first day of each month at a given hour).</comment>
                            <source_model>adminhtml/system_config_source_cron_frequency</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </frequency>
                        <step translate="label">
                            <label>Step Size</label>
                            <frontend_type>text</frontend_type>
                            <comment>The number of products added to each iteration when the feed is generated.</comment>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </step>
                        <delay translate="label">
                            <label>Step Delay</label>
                            <frontend_type>text</frontend_type>
                            <comment>The interval between the subsequent stages of feed generating (in minutes). It shouldn't be smaller than the crontab setting.</comment>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </delay>
                        <generate_global translate="label">
                            <frontend_type>button</frontend_type>
                            <frontend_model>doofinder_feed/settings_buttons_generate</frontend_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </generate_global>
                        <generate translate="label">
                            <frontend_type>button</frontend_type>
                            <frontend_model>doofinder_feed/settings_buttons_generate</frontend_model>
                            <sort_order>20</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </generate>
                    </fields>
                </schedule_settings>
                <panel translate="label">
                    <label>Feed Status</label>
                    <expanded>false</expanded>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <status>
                            <label>Status</label>
                            <frontend_model>doofinder_feed/settings_panel_message</frontend_model>
                            <sort_order>1</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </status>
                        <message>
                            <label>Message</label>
                            <frontend_model>doofinder_feed/settings_panel_message</frontend_model>
                            <sort_order>20</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </message>
                        <complete>
                            <label>Complete</label>
                            <frontend_model>doofinder_feed/settings_panel_message</frontend_model>
                            <sort_order>30</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </complete>
                        <next_run>
                            <label>Next Run</label>
                            <frontend_model>doofinder_feed/settings_panel_datetime</frontend_model>
                            <sort_order>40</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </next_run>
                        <next_iteration>
                            <label>Next Iteration</label>
                            <frontend_model>doofinder_feed/settings_panel_datetime</frontend_model>
                            <sort_order>50</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </next_iteration>
                        <last_file>
                            <label>Last generated feed</label>
                            <frontend_model>doofinder_feed/settings_panel_file</frontend_model>
                            <sort_order>60</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </last_file>
                        <last_files>
                            <label>Last generated feeds</label>
                            <frontend_model>doofinder_feed/settings_panel_file</frontend_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </last_files>
                        <error_stack>
                            <label>Errors</label>
                            <frontend_model>doofinder_feed/settings_panel_message</frontend_model>
                            <sort_order>70</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </error_stack>
                        <view_log>
                            <frontend_type>button</frontend_type>
                            <frontend_model>doofinder_feed/settings_buttons_viewLog</frontend_model>
                            <sort_order>80</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </view_log>
                    </fields>
                </panel>
            </groups>
        </doofinder_cron>
    </sections>
</config>
