<config>
    <tabs>
        <doofinder_config translate="label" module="doofinder_feed">
            <label>Doofinder Search</label>
            <sort_order>99999</sort_order>
        </doofinder_config>
    </tabs>
    <sections>
        <doofinder_cron translate="label" module="doofinder_feed">
            <label>Product Data Feed</label>
            <tab>doofinder_config</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <attributes_mapping translate="label">
                    <label>Feed Attributes</label>
                    <expanded>false</expanded>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <id translate="label">
                            <label>Id</label>
                            <frontend_type>select</frontend_type>
                            <source_model>doofinder_feed/system_config_source_product_attributes</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </id>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>select</frontend_type>
                            <source_model>doofinder_feed/system_config_source_product_attributes</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <description translate="label">
                            <label>Description</label>
                            <frontend_type>select</frontend_type>
                            <source_model>doofinder_feed/system_config_source_product_attributes</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </description>
                        <brand translate="label">
                            <label>Brand</label>
                            <frontend_type>select</frontend_type>
                            <source_model>doofinder_feed/system_config_source_product_attributes</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </brand>
                        <link translate="label">
                            <label>Link</label>
                            <frontend_type>select</frontend_type>
                            <source_model>doofinder_feed/system_config_source_product_attributes</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </link>
                        <image_link translate="label">
                            <label>Image Link</label>
                            <frontend_type>select</frontend_type>
                            <source_model>doofinder_feed/system_config_source_product_attributes</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </image_link>
                        <price translate="label">
                            <label>Price</label>
                            <frontend_type>select</frontend_type>
                            <source_model>doofinder_feed/system_config_source_product_attributes</source_model>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </price>
                        <sale_price translate="label">
                            <label>Sale price</label>
                            <frontend_type>select</frontend_type>
                            <source_model>doofinder_feed/system_config_source_product_attributes</source_model>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sale_price>
                        <mpn translate="label">
                            <label>MPN</label>
                            <frontend_type>select</frontend_type>
                            <source_model>doofinder_feed/system_config_source_product_attributes</source_model>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </mpn>
                        <availability translate="label">
                            <label>Availability</label>
                            <frontend_type>select</frontend_type>
                            <source_model>doofinder_feed/system_config_source_product_attributes</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </availability>
                        <currency translate="label">
                            <label>Currency</label>
                            <frontend_type>select</frontend_type>
                            <source_model>doofinder_feed/system_config_source_product_attributes</source_model>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </currency>
                        <additional translate="label">
                            <label>Additional Attributes</label>
                            <frontend_model>doofinder_feed/adminhtml_map_additional</frontend_model>
                            <backend_model>doofinder_feed/system_config_backend_map_additional</backend_model>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </additional>
                        <!--long_description translate="label">
                            <label>Long Description</label>
                            <frontend_type>select</frontend_type>
                            <source_model>doofinder_feed/system_config_source_product_attributes</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </long_description>
                        <meta_title translate="label">
                            <label>Meta Title</label>
                            <frontend_type>select</frontend_type>
                            <source_model>doofinder_feed/system_config_source_product_attributes</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </meta_title>
                        <meta_keyword translate="label">
                            <label>Meta Keyword</label>
                            <frontend_type>select</frontend_type>
                            <source_model>doofinder_feed/system_config_source_product_attributes</source_model>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </meta_keyword>
                        <meta_description translate="label">
                            <label>Meta Description</label>
                            <frontend_type>select</frontend_type>
                            <source_model>doofinder_feed/system_config_source_product_attributes</source_model>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </meta_description-->
                    </fields>
                </attributes_mapping>

                <feed_settings translate="label">
                    <label>Feed Settings</label>
                    <expanded>true</expanded>
                    <frontend_type>text</frontend_type>
                    <sort_order>15</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <password translate="label">
                            <label>Security Phrase</label>
                            <frontend_type>text</frontend_type>
                            <backend_model>doofinder_feed/system_config_backend_password</backend_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Protect feed with given phrase. If set, the URL of the feed must include "password=security_phrase" as a parameter.</comment>
                        </password>
                        <display_price translate="label">
                            <label>Export Product Prices</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </display_price>
                        <grouped translate="label">
                            <label>Split Configurable Products</label>
                            <comment>Export each component of a configurable product separately, instead of exporting them as a single product.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </grouped>
                        <price_tax_mode translate="label">
                            <label>Price Export Mode</label>
                            <comment>Export product price tax mode: Auto - use catalog display setting; With tax - export prices with tax; Without tax - export prices without tax.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>doofinder_feed/system_config_source_feed_pricetaxmode</source_model>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </price_tax_mode>
                        <image_size translate="label">
                            <label>Image size</label>
                            <comment>Export product image with given width. Leave empty to use original size.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </image_size>
                        <atomic_updates_enabled translate="label">
                            <label>Use Doofinder API to update products on save</label>
                            <frontend_type>select</frontend_type>
                            <comment>Requires a Management API key configured in Search Configuration</comment>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </atomic_updates_enabled>
                        <categories_in_navigation translate="label">
                            <label>Export only categories present in navigation menus</label>
                            <frontend_type>select</frontend_type>
                            <comment>Whether this option is enabled or not, only active categories will be exported.</comment>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </categories_in_navigation>
                    </fields>
                </feed_settings>

                <schedule_settings translate="label">
                    <label>Schedule Settings (Beta!)</label>
                    <expanded>false</expanded>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <instruction>
                            <frontend_model>doofinder_feed/settings_panel_crondescription</frontend_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </instruction>
                        <enabled>
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <comment>Activate/deactivate the feed for this store</comment>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <time translate="label">
                            <label>Feed generation start time</label>
                            <frontend_type>time</frontend_type>
                            <comment>The time at which the feed generation starts.</comment>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </time>
                        <frequency translate="label">
                            <label>Frequency</label>
                            <frontend_type>select</frontend_type>
                            <comment>Feed generating frequency (e.g. "monthly" means that the feed will be generated on the first day of each month at a given hour).</comment>
                            <source_model>adminhtml/system_config_source_cron_frequency</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </frequency>
                        <step translate="label">
                            <label>Step Size</label>
                            <frontend_type>text</frontend_type>
                            <comment>The maximum number of products added to the feed on each iteration of the generation process (maximum recommended value: 1000)</comment>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </step>
                        <delay translate="label">
                            <label>Step Delay</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[The interval (in minutes) between subsequent stages of the feed generation process. It should not be smaller than the frequency of execution of your cron.sh file. (<a href="http://devdocs.magento.com/guides/v2.0/config-guide/cli/config-cli-subcommands-cron.html" target="step-delay">What's this?</a>)]]></comment>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </delay>
                        <generate_global translate="label">
                            <frontend_type>button</frontend_type>
                            <frontend_model>doofinder_feed/settings_buttons_generate</frontend_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </generate_global>
                        <generate translate="label">
                            <frontend_type>button</frontend_type>
                            <frontend_model>doofinder_feed/settings_buttons_generate</frontend_model>
                            <sort_order>20</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </generate>
                    </fields>
                </schedule_settings>
                <panel translate="label">
                    <label>Feed Status</label>
                    <expanded>false</expanded>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <cron_issue>
                            <label>Cron Issues</label>
                            <frontend_model>doofinder_feed/settings_panel_cron</frontend_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cron_issue>
                        <status>
                            <label>Status</label>
                            <frontend_model>doofinder_feed/settings_panel_message</frontend_model>
                            <sort_order>10</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </status>
                        <message>
                            <label>Message</label>
                            <frontend_model>doofinder_feed/settings_panel_message</frontend_model>
                            <sort_order>20</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </message>
                        <complete>
                            <label>Complete</label>
                            <frontend_model>doofinder_feed/settings_panel_message</frontend_model>
                            <sort_order>30</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </complete>
                        <next_run>
                            <label>Next Run</label>
                            <frontend_model>doofinder_feed/settings_panel_datetime</frontend_model>
                            <sort_order>40</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </next_run>
                        <next_iteration>
                            <label>Next Iteration</label>
                            <frontend_model>doofinder_feed/settings_panel_datetime</frontend_model>
                            <sort_order>50</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </next_iteration>
                        <last_file>
                            <label>Last generated feed</label>
                            <frontend_model>doofinder_feed/settings_panel_file</frontend_model>
                            <sort_order>60</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </last_file>
                        <last_files>
                            <label>Last generated feeds</label>
                            <frontend_model>doofinder_feed/settings_panel_file</frontend_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </last_files>
                        <error_stack>
                            <label>Errors</label>
                            <frontend_model>doofinder_feed/settings_panel_message</frontend_model>
                            <sort_order>70</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </error_stack>
                        <view_log>
                            <frontend_type>button</frontend_type>
                            <frontend_model>doofinder_feed/settings_buttons_viewLog</frontend_model>
                            <sort_order>80</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </view_log>
                    </fields>
                </panel>
            </groups>
        </doofinder_cron>
        <doofinder_search translate="label" module="doofinder_feed">
            <label>Search Configuration</label>
            <tab>doofinder_config</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1010</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <layer_settings translate="label">
                    <label>Doofinder Layer</label>
                    <expanded>true</expanded>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled>
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <comment>Activate/deactivate the search layer</comment>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <instruction>
                            <frontend_model>doofinder_feed/settings_panel_layerdescription</frontend_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </instruction>
                        <script translate="label">
                            <label>Script</label>
                            <frontend_type>textarea</frontend_type>
                            <comment>Paste your integration script here.</comment>
                            <sort_order>2</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </script>
                    </fields>
                </layer_settings>
                <internal_settings translate="label">
                    <label>Internal Search</label>
                    <expanded>true</expanded>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enable translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment>Use Doofinder Search instead of Magento default search.</comment>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable>
                        <api_key translate="label">
                            <label>API Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </api_key>

                        <hash_id translate="label">
                            <label>Hash ID</label>
                            <frontend_type>text</frontend_type>
                            <backend_model>doofinder_feed/adminhtml_system_config_validation_hashid</backend_model>
                            <sort_order>3</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </hash_id>
                        <instruction>
                            <frontend_model>doofinder_feed/settings_panel_hashdescription</frontend_model>
                            <custom>hola</custom>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </instruction>

                        <total_limit translate="label">
                            <label>Total limit</label>
                            <frontend_type>text</frontend_type>
                            <backend_model>doofinder_feed/system_config_backend_total_limit</backend_model>
                            <comment>Number of results returned for search query.</comment>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </total_limit>
                    </fields>
                </internal_settings>
            </groups>
        </doofinder_search>
    </sections>
</config>
