/**
 * This file is part of Doofinder_Feed.
 */

/**
 * @category   CSS
 * @package    Doofinder_Feed
 * @version    1.5.9
 */

#doofinder_feed_additional_mapping_container input {
    max-width: 80px;
}
#doofinder_feed_additional_mapping_container select {
    max-width: 180px;
}

#row_doofinder_cron_schedule_settings_time select {
    width: 80px !important;
}

#row_doofinder_cron_schedule_settings_time .df-separator:before {
    content: " : "
}

#row_doofinder_search_layer_settings_script textarea {
    min-width: 370px;
    height: 30em;
    font-family: "Courier New", monospace;
    font-size: 13px;
}

.doofinder-info,
.doofinder-warning {
  padding: 10px;
  border: 1px solid transparent;
  font-size: .95em !important;
}

.doofinder-info {
    border-color: #d6d6d6;
    background-color: #fafafa;
    color: #333;
}

.doofinder-warning {
    border-color: #EEE2BE;
    background-color: #FFF9E9;
    color: #5A4421;
}
