#row_doofinder_cron_schedule_settings_time select {
    width: 80px !important;
}

#row_doofinder_cron_schedule_settings_time .df-separator:before {
    content: " : "
}

#row_doofinder_cron_panel_last_files td.value {
    min-width: 500px;
}

#row_doofinder_search_layer_settings_script textarea {
    width: 548px;
    height: 30em;
    font-family: "Courier New", monospace;
    font-size: 14px;
}
